<div>
   <form action="/movies/create" method="POST">
        <label for="first-name-input">Title:</label>
        <input id="first-name-input" type="text" name="title" />

        <label for="first-name-input">Director:</label>
        <input id="first-name-input" type="text" name="director" />

        <label for="first-name-input">Stars:</label>
        <input id="first-name-input" type="text" name="stars" />

        <label for="first-name-input">Image:</label>
        <input id="first-name-input" type="text" name="image" />

        <label for="first-name-input">Description:</label>
        <input id="first-name-input" type="text" name="description" />

        <label for="first-name-input">Showtimes:</label>
        <input id="first-name-input" type="text" name="showtimes" />
        
        <button type="submit">Save movie</button>
    </form>
</div>